# server config
HOST=localhost
PORT=5000

# database config
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=
PGDATABASE=notesapp
PGPORT=5432

# JWT config
ACCESS_TOKEN_KEY='abc'
REFRESH_TOKEN_KEY='abc'
ACCESS_TOKEN_AGE=1800